<div class="container">
    <div class ="card w-75" >
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Short URL Generator</p>
            </blockquote>
            <figcaption class="blockquote-footer">Let get a shortURL!</figcaption>
        </figure>
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"class="img-fluid">
        <div class="">
        <form action="" method="">
            <input class="form-control" type="text" placeholder="your URL" name="url" value="http://localhost:3000/{{data.short_url}}" aria-label="default input example" disabled>
        <button type="submit" class="btn btn-outline-primary">copy</button>
        <a class="btn btn-outline-primary" href="/" role="button">Back</a>
        </form>
        </div>
    </div>
</div>
